In [39]:
import pandas as pd

In [41]:
df = pd.read_csv(r'C:\Users\balam\Downloads\weather_dataset\nyc_Jan_Jun_2016_weat.csv')
print(df)

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0      20160101  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
1      20160102  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
2      20160103  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
3      20160104  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
4      20160105  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
...         ...       ...        ...     ...   ...     ...   ...   ...   ...
32202  20170709  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    82    67
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64
32204  20170711  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    86    74
32205  20170712  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    90    74
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

[32207 rows x 9 columns]

In [42]:
df['LONGITUDE'].max()

np.float64(-73.3722)

In [43]:
df['DATE'][df['TMAX']== 82]

1016     20160419
1059     20160601
1061     20160603
1071     20160613
1082     20160624
           ...
31913    20160923
32118    20170416
32173    20170610
32198    20170705
32202    20170709
Name: DATE, Length: 126, dtype: int64

In [45]:
df['SNOW'].mean()

np.float64(-4263.479085292018)

In [46]:
df.shape

(32207, 9)

In [47]:
df.head()

       DATE  LATITUDE  LONGITUDE  SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0  20160101   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
1  20160102   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
2  20160103   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
3  20160104   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
4  20160105   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999

In [48]:
df.head(3)

       DATE  LATITUDE  LONGITUDE  SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0  20160101   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
1  20160102   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
2  20160103   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999

In [49]:
df.tail()

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
32202  20170709  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    82    67
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64
32204  20170711  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    86    74
32205  20170712  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    90    74
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

In [50]:
df.tail(1)

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

In [51]:
df[2:9]

       DATE  LATITUDE  LONGITUDE  SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
2  20160103   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
3  20160104   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
4  20160105   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
5  20160106   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
6  20160107   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
7  20160108   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999
8  20160112   41.0639   -73.7722   0.0   0.0 -9999.0 -9999 -9999 -9999

In [52]:
df.columns

Index(['DATE', 'LATITUDE', 'LONGITUDE', 'SNOW', 'PRCP', 'SNWD', 'TAVG', 'TMAX',
       'TMIN'],
      dtype='object')

In [53]:
df.DATE

0        20160101
1        20160102
2        20160103
3        20160104
4        20160105
           ...
32202    20170709
32203    20170710
32204    20170711
32205    20170712
32206    20170713
Name: DATE, Length: 32207, dtype: int64

In [54]:
df['LATITUDE']

0        41.06390
1        41.06390
2        41.06390
3        41.06390
4        41.06390
           ...
32202    40.73417
32203    40.73417
32204    40.73417
32205    40.73417
32206    40.73417
Name: LATITUDE, Length: 32207, dtype: float64

In [55]:
type(df['SNOW'])

pandas.core.series.Series

In [56]:
df[['TAVG', 'TMAX']]

       TAVG  TMAX
0     -9999 -9999
1     -9999 -9999
2     -9999 -9999
3     -9999 -9999
4     -9999 -9999
...     ...   ...
32202 -9999    82
32203 -9999    81
32204 -9999    86
32205 -9999    90
32206 -9999    91

[32207 rows x 2 columns]

In [57]:
df.describe()

,DATE,LATITUDE,LONGITUDE,SNOW,PRCP,SNWD,TAVG,TMAX,TMIN
count,3.220700e+04,32207.000000,32207.000000,32207.000000,32207.000000,32207.000000,32207.000000,32207.000000,32207.000000
mean,2.016379e+07,40.758364,-74.115480,-4263.479085,-41.474001,-7452.434185,-9472.630453,-7806.498743,-7798.696184
std,4.553580e+03,0.210378,0.250133,4945.177190,643.636786,4356.649666,2239.591076,4153.806872,4154.587650
min,2.016010e+07,40.275400,-74.482700,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
25%,2.016051e+07,40.662300,-74.284700,-9999.000000,0.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
50%,2.016092e+07,40.755600,-74.152300,0.000000,0.000000,-9999.000000,-9999.000000,-9999.000000,-9999.000000
75%,2.017021e+07,40.902700,-74.000200,0.000000,0.070000,0.000000,-9999.000000,-9999.000000,-9999.000000
max,2.017072e+07,41.083500,-73.372200,68.000000,17.760000,30.700000,91.000000,101.000000,84.000000

In [58]:
df[df.TMAX==81]

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
1058   20160531  40.89170  -74.39620     0.0  0.05     0.0 -9999    81    66
1100   20160712  40.89170  -74.39620     0.0  0.00     0.0 -9999    81    58
1444   20170624  40.89170  -74.39620     0.0  0.90     0.0 -9999    81    71
1446   20170626  40.89170  -74.39620     0.0  0.06     0.0 -9999    81    55
4574   20160614  40.77944  -73.88028     0.0  0.00     0.0    69    81    60
...         ...       ...        ...     ...   ...     ...   ...   ...   ...
31908  20160918  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    70
31910  20160920  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    69
32172  20170609  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    49
32186  20170623  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    71
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64

[102 rows x 9 columns]

In [59]:
df[df.TMAX==df.TMAX.max()]

          DATE  LATITUDE  LONGITUDE  SNOW  PRCP  SNWD  TAVG  TMAX  TMIN
4938  20170613   40.7792     -73.88   0.0   0.0   0.0    90   101    80

In [60]:
df

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0      20160101  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
1      20160102  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
2      20160103  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
3      20160104  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
4      20160105  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
...         ...       ...        ...     ...   ...     ...   ...   ...   ...
32202  20170709  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    82    67
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64
32204  20170711  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    86    74
32205  20170712  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    90    74
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

[32207 rows x 9 columns]

In [61]:
df.index

RangeIndex(start=0, stop=32207, step=1)

In [68]:
df.set_index('TMAX', inplace=True)

In [76]:
df.reset_index(inplace=True)
df

       TMAX  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMIN
0     -9999  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999
1     -9999  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999
2     -9999  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999
3     -9999  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999
4     -9999  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999
...     ...       ...        ...     ...   ...     ...   ...   ...
32202    82  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    67
32203    81  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    64
32204    86  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    74
32205    90  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    74
32206    91  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    68

[32207 rows x 8 columns]