In [39]:
import pandas as pd

In [41]:
df = pd.read_csv(r'C:\Users\balam\Downloads\weather_dataset\nyc_Jan_Jun_2016_weat.csv')
print(df)

           DATE  LATITUDE  LONGITUDE    SNOW  PRCP    SNWD  TAVG  TMAX  TMIN
0      20160101  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
1      20160102  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
2      20160103  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
3      20160104  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
4      20160105  41.06390  -73.77220     0.0  0.00 -9999.0 -9999 -9999 -9999
...         ...       ...        ...     ...   ...     ...   ...   ...   ...
32202  20170709  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    82    67
32203  20170710  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    81    64
32204  20170711  40.73417  -73.41694 -9999.0  0.06 -9999.0 -9999    86    74
32205  20170712  40.73417  -73.41694 -9999.0  0.00 -9999.0 -9999    90    74
32206  20170713  40.73417  -73.41694 -9999.0  0.01 -9999.0 -9999    91    68

[32207 rows x 9 columns]

In [42]:
df['LONGITUDE'].max()

np.float64(-73.3722)

In [43]:
df['DATE'][df['TMAX']== 82]

1016     20160419
1059     20160601
1061     20160603
1071     20160613
1082     20160624
           ...
31913    20160923
32118    20170416
32173    20170610
32198    20170705
32202    20170709
Name: DATE, Length: 126, dtype: int64

In [45]:
df['SNOW'].mean()

np.float64(-4263.479085292018)